body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #ebd7f5;
    color: #4e3c6d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #4e3c6d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #3a2c53;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp 1s ease-in-out;
}

.current-weather {
    margin-bottom: 20px;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.forecast-day {
    background: rgba(239, 181, 241, 0.6);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.forecast-day:hover {
    transform: translateY(-5px);
}

.forecast-day img {
    width: 50px;
    height: 50px;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#weatherIcon
{
    width: 80px;
    height: 80px;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .forecast-container {
        flex-direction: column;
        align-items: center;
    }

    .forecast-day {
        margin: 10px 0;
    }
}
